<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
      <link rel = "stylesheet" type = "design/css" href = "css/design.css">
   <dic class = "VC">
   <br>
  <title>Veecue</title>
 </head>
 <body>
   <div id="background"> <img src = "http://www.usm.edu/news/sites/default/files/big%20event%20landscaping.jpg"> </div>
   <img src = "http://i.imgur.com/fAyS8VM.png">
   <h1> Veecue </h1>
   <h4> Find your community service match </h4>
   </div>
   <form method="get" action="/quiz">
     <a href = "/quiz"> <btn> Get started </btn> </a>
    </form>
 </body>
</html>