<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Test</title>
 </head>
 <body>
   <form method ='POST' action='/results'>
     <p>1. Which of these interest you most? </p>
     <p><input type="radio" name="interest" value="Education">Education</p>
     <p><input type="radio" name="interest" value="Children">Children</p>
     <p><input type="radio" name="interest" value="Animals">Animals</p>
     <p><input type="radio" name="interest" value="Poor">The homeless</p>
     <p><input type="radio" name="interest" value="Enviroment">The enviroment</p>
     <div></div>
     <p> 2. Are you capable of/enjoy manual labor? </p>
     <p><input type="radio" name="manual_labor" value="Yes">Yes</p>
     <p><input type="radio" name="manual_labor" value="No">No</p>
     <div></div>
     <p> 3. Are you comfortable working with people younger/older than yourself? </p>
     <p><input type="radio" name="age_diff" value="Yes">Yes</p>
     <p><input type="radio" name="age_diff" value="No">No</p>
     <div></div>
     <p> 4. Are you a "people person"? </p>
     <p><input type="radio" name="people_person" value="Yes">Yes</p>
     <p><input type="radio" name="people_person" value="No">No</p>
     <div></div>
     <p> 5. Are you good at explaining things/teaching? </p>
     <p><input type="radio" name="teaching" value="Yes">Yes</p>
     <p><input type="radio" name="teaching" value="No">No</p>
     <div></div>
     <p> 6. Do you have a fear of animals? </p>
     <p><input type="radio" name="animal_fear" value="Yes">Yes</p>
     <p><input type="radio" name="animal_fear" value="No">No</p>
     <div></div>
     <p> 7. Do you have a pet? </p>
     <p><input type="radio" name="own_pet" value="Yes">Yes</p>
     <p><input type="radio" name="own_pet" value="No">No</p>
     <div></div>
     <p> 8.  Do you have children? </p>
     <p><input type="radio" name="have_children" value="Yes">Yes</p>
     <p><input type="radio" name="have_children" value="No">No</p>
     <div></div>
     <p> 9. Do you enjoy being/working outside? </p>
     <p><input type="radio" name="working_outside" value="Yes">Yes</p>
     <p><input type="radio" name="working_outside" value="No">No</p>
     <div></div>
     <p> 10. Do you enjoy helping other people? </p>
     <p><input type="radio" name="helping_people" value="Yes">Yes</p>
     <p><input type="radio" name="helping_people" value="No">No</p>
     <div></div>     
     <p> 11. Do you enjoy working with others or being on your own? </p>
     <p><input type="radio" name="working_alone" value="with_others">With others</p>
     <p><input type="radio" name="working_alone" value="Alone">Alone</p>
     <div></div>
     <input type=submit>
   </form>
   
 </body>
</html>