<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Results</title>
 </head>
 <body>
   <h1>Based on your survey results... </h1>
   <p> Your recommended area of work is <%=@first_choice%>. </p>
   <p> Here are a few volunteer opportunities for you: </p>
   <p> <%@interest_hash[@first_choice.to_sym].each do |key, value|%>
     <%= key%>: <%= value%>
    <%end%> </p>
 </body>
</html>