body{
  text-align: center;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
 
}

#background img {  
  position: fixed;
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  width: 1000px;
  height: 850px;
  margin: 0;
  padding: 0;
  opacity: 0.3;
  z-index:-1;
}